html,
body {
  padding: 0px;
  margin: 0px;
}
#content {
  height: 100%;
  width: 100%;
}
.v-header {
  height: $imageHeiht1;
}
.division {
  width: 100%;
  margin-top: 0.5%;
  height: 7.6%;
  background: #9b2c54;
}
.card-box {
  min-width: 1024px;
  min-height: 302px;
  max-width: 1600px;
  max-height: 360px;
  width: 78.8%;
  height: 48%;
  border: 3px solid #9b2c54;
  margin: 3% auto;
  display: flex;
  flex-direction: row;
}
.login-from {
  width: 48%;
  height: 100%;
  flex-direction: column;
}
.read-book {
  width: 14.7%;
  margin-left: 6%;
  margin-top: 5%;
  text-align: center;
  img {
    width: 80%;
  }
  .text-content {
    text-align: center;
    padding-top: 10%;
    cursor: pointer;
    font-weight: 600;
  }
}
.wx-code {
  width: 12%;
  height: 60%;
  margin-top: 3%;
  margin-left: 8%;
  font-size: 1rem;
  p {
    text-align: center;
    font-size: 1.4rem;
  }
  img {
    display: block;
    border: 1px solid black;
    width: 100%;
  }
  .img-text {
    margin-top: 1rem;
    text-align: center;
  }
}
.row-line {
  width: 80%;
  margin-left: 10%;
  margin-top: 4%;
  i {
    width: 10%;
    height: 1rem;
    display: block;
    font-size: 3.2rem;
    float: left;
  }
  input {
    width: 80%;
  }
  #verification {
    width: 34%;
    display: block;
  }
}
.plugin-sub {
    background-color: #c82862;
    color: #fff;
}
.btn {
    font-size: .8rem;
    padding: .85rem 2.13rem;
    border-radius: 2px;
    border: 0;
    color: #fff!important;
    margin-top: 1%;
    white-space: normal!important;
    word-wrap: break-word;
}
#info{
  color: red;
  margin-left: 2%;
}
.form-control {
  background-color: transparent;
  background-image: none;
  border-radius: 0;
}
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search-md"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
textarea.md-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  outline: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all 0.3s;
}